<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>WebDM</display-name>

   <servlet>
		<servlet-name>webdm</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/webdm-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>webdm</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	
	 <!-- <context-param>
		<param-name>USERNAME</param-name>
		<param-value>Wnh6oAYHYU4=</param-value>
	</context-param>

	<context-param>
		<param-name>PASSWORD</param-name>
		<param-value>zi+LwzxxKYMIyTrkdQHjFQ==</param-value>
	</context-param>
 -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>

   